body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #0f0c29; 
    color: white;
}

.hero-section {
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, #7742b2, #f45485);
}

.hero-section h1 {
    margin: 0;
    color: #ffcd00;
}

.hero-section p {
    margin: 15px 0;
}
