
.button {
    background-color: #ffcd00;
    color: #0f0c29;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.button:hover {
    background-color: #ffd700;
}


.button {
    
    display: inline-block; 
    margin-top: 10px; 
}